*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/caches/build_file_checksums.ser
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/caches/gradle_models.ser
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_23_3_0_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_23_3_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_v4_23_3_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_23_3_0_aar.xml
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/modules.xml
