<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spellrush">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spellrush.presentation.LeaderboardActivity" />
        </activity>
        <activity
            android:name=".presentation.GameActivity"
            android:label="@string/title_activity_GameActivity"
            android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.spellrush.presentation.GameActivity" />
        </activity>
        <activity
            android:name=".presentation.GameOverActivity"
            android:label="@string/title_activity_GameOverActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spellrush.presentation.GameOverActivity" />
        </activity>
        <activity android:name=".presentation.UI.Components.LevelCompleteDisplay"
            android:theme="@style/AppTheme.LevelDisplayMessage">
        </activity>
        <activity android:name=".presentation.UI.Components.LevelStartDisplay"
            android:theme="@style/AppTheme.LevelDisplayMessage">
        </activity>
    </application>
    <supports-screens android:anyDensity="true" />
</manifest>
